*{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
}
a{
  text-decoration: none;color: inherit;
}
.background{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  /* background-color: w; */
}
.font{

  width: 500px;
  height: 500px;
  font-family: 'Pacifico', cursive;
  color: pink;
  font-size: 1.0em;
  text-align: center;
  border: 1px solid pink;
}
p{
  font-family: 'Pacifico', cursive;
}
.logo{
  position: absolute;
  width: 67px;
  height: 67px;
  border-radius: 100%;
  background-color: black;
  top: 191px;
  left: 48.0%;

}
.p1{
  margin-top: 17px;
  margin-left: 18px;
  color: pink;
}
