*{
	margin:0 auto;padding:0;
	list-style:none;font-family:"맑은 고딕";
}
a{text-decoration:none;color:inherit;}
header{width:960px;height:150px;}
.logo{
	width:250px;height:110px;
	margin-top:20px;overflow:hidden;
	float:left;
}
.logo>a>img{
	width:100%;height:100%;
}
nav{width:620px;height:150px;float:right;}
.menu{
	width:600px;height:20px;text-align:right;
	margin-top:70px;
}
.menu>li{
	width:200px;text-align:center;
	float:left;padding:5px 0;
	position:relative;
}
.menu>li:hover{
	background-color:#7b422e;color:white;
	transition:all 0.4s;
}
.submenu{
	position:absolute;width:100%;
	text-align:center;margin-top:5px;
	background-color:rgba(255,255,255,0.8);
	color:#000;z-index:1;display:none;
}
.submenu>li{
	padding:5px 0;transition:all 0.4s;
}
.submenu>li:hover{
	background-color:#bb692d;color:white;
}









