*{
	margin:0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은 고딕";
}
a{
	text-decoration: none; color: inherit;
}
.table{
	font-size: 0.9em;
	color: #666;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	border-collapse: collapse;
	
}
.table tr>td{
	border-bottom: 1px solid #333;
	padding: 7px;
}
.bt{
	font-size: 0.9em;
	padding: 5px;
	background-color: #666;
	color: #fff;
	border: none; border-radius: 5px;
	cursor: pointer;
}
.bt:hover{
	opacity: 0.5;

}