* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width:100%;
  height: 110px;
}

.logo {
  width: 250px;
  height: 110px;
}

.logo>img {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #666;
  color: #fff;
}

#imgslide {
  width: 100%;
  height: 350px;
  background-color: #ccdce2;
  box-shadow: inset 2px 2px 20px #3b6778;
  padding: 40px;
}

.imgs {
  width: 1000px;
  height: 350px;
  background-color: #000;
}

.imgs>img {
  width: 100%;
  height: 100%;
}

.menu {
  width: 600px;
}

.menu>li {
  float:left;
  width: 200px;
  text-align: center;
  margin-top: 7px;
  padding: 7px 0;
  transition: all 0.4s;
  position: relative;
}

.menu>li:hover {
  background-color: #4298cc;
}

.submenu {
  background: rgba(255,255,255,0.5);
  display: none;
  margin-top: 7px;
  position: absolute;
  z-index: 99;
  width: 700px;
}

.submenu>li {
  padding: 20px;
  display: inline-block;
  color: #000;
  transition: all 0.4s;
}

.submenu>li:hover {
  background-color: #4298cc;
  color: #fff;
}
